## MS Office files

*.tmp
~$*.doc*
*.doc*
Backup of *.doc*
~$*.xls*
*.xls*
*.xlk
~$*.ppt*
*.ppt*
*.vsd*
*.~vsd*

## Text editors

# VSCode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# Sublime Text

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Images

*.jpg
*.jpeg
*.png
*.webp
*.gif
*.webm
*.bmp
*.tiff
*.svg


## Apple specific

.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Archives files

*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.iso
*.tar

## SSL/Key files

*.ca
*.crt
*.csr
*.der
*.kdb*
*.org
*.p12
*.pem
*.rnd
*.ssleay
*.smime

## Misc files

*.txt
*.exe
*.ppk
*.pcap
*.pdf
*.log

## Python specific

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
